:root
body {
  font-family: "roboto" sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link{
    text-decoration: none;
}

/*-----Header-----*/

.header {
  background-color: white;
}

.header-navigation {
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}
.header-list {
}
.header-item {
}
.header-link {
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.header-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #434455;
}

.header-address :hover .header-address :focus {
  color: ;
}

/*-----Hero-----*/

.hero {
    background: #2E2F42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
    background: var(--button normal--);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--brand-color--);
  flex: none
  order: 0;
  flex-grow: 0;
  }

/*-----Description-----*/
.description {
}
.hidden {
}
.description-list {
}

.description-item {
}
.description-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.description-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*-----Work-----*/

.work {
}
.work-title {
}
.work-list {
}
.work-item {
}
